.p-leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4dvh;
  .flex-grid {
    display: flex;
    justify-content: space-between;
  }

  .col {
    width: 32%;
  }

  table {
    table-layout: fixed;
    border-collapse: collapse;

    th,
    td {
      padding: 8px 12px;
      border: 1px solid white;
    }
  }
}
